@model IEnumerable<imprimirPDF.Models.Depositos>

@{
    ViewData["Title"] = "ImprimirPDF";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    @*
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    @*
        <div class="align-items-center">
            <div class="btn btn-secondary export-pdf">PDF</div>  color: white;
        </div>
    *@
    <div id="render">
        @foreach (var item in Model)
        {


            <div class="prueba" style=" width: 785px; height: 445px;">
                <div class="col-sm-4">.</div><div class="col-sm-4">.</div>
                <div class="row align-items-start">
                    <div class="col-md-9 text-center">@Html.DisplayFor(model => item.Serie) - @Html.DisplayFor(model => item.Numero) </div>
                    <div class="col-md-2 text-right">Q. @Html.DisplayFor(model => item.Monto) </div>
                </div>

                <div class="col-sm-4">.</div>
                <div class="col-sm-6 "><b>@Html.DisplayNameFor(model => model.clicod): @Html.DisplayFor(model => item.clicod)</b></div>
                <div class="col-md-8"><b>@Html.DisplayNameFor(model => item.FechaAlta): @Html.DisplayFor(model => item.FechaAlta)</b> </div>

                <div class="col-md-8 "><b>@Html.DisplayNameFor(model => item.ClienteRazon): @Html.DisplayFor(model => item.ClienteRazon)</b>  </div>
                <div class="col-md-8"><b>Cantidad @Html.DisplayNameFor(model => item.MontoLetras):  @Html.DisplayFor(model => item.MontoLetras)</b></div>
                *<div class="col-sm-4">.</div><div class="col-sm-4">.</div><div class="col-sm-4">.</div><div class="col-sm-4">.</div><div class="col-sm-4">.</div> <div class="col-sm-4">.</div>
                <div class="col-md-11 text-right">@Html.DisplayNameFor(model => item.UsuAlt) - @Html.DisplayFor(model => item.UsuAlt)</div>
            </div>

        }
    </div>


    <style>
    </style>







</body>
</html>


<script>
    $(document).ready(function () {

        $(".export-pdf").click(function () {
            //Convierte el elemento DOM en un dibujo usando kendo.drawing.drawDOM
            kendo.drawing.drawDOM($("#render"))
                .then(function (group) {
                    // Renderizar el resultado como un archivo PDF
                    return kendo.drawing.exportPDF(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    // Guarda el archivo en PDF
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "HR-Dashboard.pdf",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
        });

        $(".export-img").click(function () {
            // Convert the DOM element to a drawing using kendo.drawing.drawDOM
            kendo.drawing.drawDOM($("#render"))
                .then(function (group) {
                    // Render the result as a PNG image
                    return kendo.drawing.exportImage(group);
                })
                .done(function (data) {
                    // Save the image file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "HR-Dashboard.png",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
        });

        $(".export-svg").click(function () {
            // Convert the DOM element to a drawing using kendo.drawing.drawDOM
            kendo.drawing.drawDOM($("#render"))
                .then(function (group) {
                    // Render the result as a SVG document
                    return kendo.drawing.exportSVG(group);
                })
                .done(function (data) {
                    // Save the SVG document
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "HR-Dashboard.svg",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
        });
    });
</script>
